{% extends "baseB.html.twig" %}

{% block content%}

    {{ form_start(form, {'method': 'post', 'action': path('ajout') }) }}
<center>
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Categorie</h4>
                <p class="card-description">
                    Categorie form elements
                </p>

                    </div>
                    <div class="form-group">

                        {{ form_row(form.nom) }}
                    </div>

                    <div class="form-group">

                        {{ form_row(form.version) }}
                    </div>
                    <div class="form-group">

                        {{ form_row(form.description) }}
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>

            </div>
        </div>
</center>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
