{% extends 'primary/mission_listing.html.twig' %}


    {% block content %}
        <center>
    <h1>Missions list</h1>
<br>
            <br>
    <table border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Duree</th>
                <th>Hebergement</th>
                <th>Prix</th>
                <th>Transport</th>
                <th>Nombrepersonne</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>

                <td>{{ mission.id }}</td>
                <td>{{ mission.duree }}</td>
                <td>{{ mission.hebergement }}</td>
                <td>{{ mission.prix }}</td>
                <td>{{ mission.transport }}</td>
                <td>{{ mission.nombrepersonne }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mission_show', { 'id': mission.id }) }}">show</a>
                            <a href="{{ path('mission_update', { 'id': mission.id }) }}">update</a>
                            <a href="{{ path('mission_delete', { 'id': mission.id }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br><br>
        </center>
{% endblock %}
