
    <h1>Mission</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mission.id }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ mission.duree }}</td>
            </tr>
            <tr>
                <th>Hebergement</th>
                <td>{{ mission.hebergement }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ mission.prix }}</td>
            </tr>
            <tr>
                <th>Transport</th>
                <td>{{ mission.transport }}</td>
            </tr>
            <tr>
                <th>Nombrepersonne</th>
                <td>{{ mission.nombrepersonne }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mission_index') }}">Back to the list</a>
        </li>
    </ul>

