{% extends 'baseFront.html.twig' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="{{ asset('tableau/images/icons/favicon.ico') }}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('tableau/vendor/bootstrap/css/bootstrap.min.css') }}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('tableau/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('tableau/vendor/animate/animate.css') }}" />



        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('tableau/vendor/select2/select2.min.css') }}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('tableau/vendor/perfect-scrollbar/perfect-scrollbar.css') }}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('tableau/css/util.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('tableau/css/main.css') }}" />
        <!--===============================================================================================-->
    </head>
    <body>

    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">

                                <th class="cell100 column1">Description</th>
                                <th class="cell100 column2">Prix</th>
                                <th class="cell100 column3">Nom</th>
                                <th class="cell100 column4">Action</th>
                                <th class="cell100 column5">Categorie</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                            {% for demande in demandes %}
                                <tr class="row100 body">

                                    <td class="cell100 column1">{{ demande.description }}</td>
                                    <td class="cell100 column2">{{ demande.prix }}</td>
                                    <td class="cell100 column3">{{ demande.idmission.nom}}</td>
                                    <td class="cell100 column4">
                                        <a href="{{ path('demande_delete', { 'id':demande.id }) }}">delete</a>
                                        <a  href="{{ path('demande_update', { 'id': demande.id }) }}" > Update</a>

                                    </td>
                                    <td class="cell100 column5">{{ demande.idmission.nom}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>




            </div>
        </div>
    </div>
    </div>
    </div>


    <!--===============================================================================================-->
    <script src="{{ asset('tableau/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('tableau/vendor/bootstrap/js/popper.js')}}"></script>
    <script src="{{ asset('tableau/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('tableau/vendor/select2/select2.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('tableau/vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script>
        $('.js-pscroll').each(function(){
            var ps = new PerfectScrollbar(this);
            $(window).on('resize', function(){
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

    </body>
    </html>
{% endblock content %}


