{% extends 'baseFront.html.twig' %}

{% block sidebar %}

        <div class="tab-content">
            <div id="grid" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img1.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img2.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img3.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img4.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img5.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img1.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img2.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img3.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img4.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img5.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img1.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img2.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img3.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img4.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img5.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img4.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                        <div class="pager_wrapper gc_blog_pagination">
                            <ul class="pagination">
                                <li><a href="#">Priv.</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="hidden-xs"><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="list" class="tab-pane fade">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img5.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                    <li><a href="#">senior</a></li>
                                    <li><a href="#">it company,</a></li>
                                    <li><a href="#">design,</a></li>
                                    <li><a href="#">call center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img2.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                    <li><a href="#">senior</a></li>
                                    <li><a href="#">it company,</a></li>
                                    <li><a href="#">design,</a></li>
                                    <li><a href="#">call center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img3.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                    <li><a href="#">senior</a></li>
                                    <li><a href="#">it company,</a></li>
                                    <li><a href="#">design,</a></li>
                                    <li><a href="#">call center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img4.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                    <li><a href="#">senior</a></li>
                                    <li><a href="#">it company,</a></li>
                                    <li><a href="#">design,</a></li>
                                    <li><a href="#">call center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img5.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                    <li><a href="#">senior</a></li>
                                    <li><a href="#">it company,</a></li>
                                    <li><a href="#">design,</a></li>
                                    <li><a href="#">call center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img1.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                    <li><a href="#">senior</a></li>
                                    <li><a href="#">it company,</a></li>
                                    <li><a href="#">design,</a></li>
                                    <li><a href="#">call center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img2.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                    <li><a href="#">senior</a></li>
                                    <li><a href="#">it company,</a></li>
                                    <li><a href="#">design,</a></li>
                                    <li><a href="#">call center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img3.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                    <li><a href="#">senior</a></li>
                                    <li><a href="#">it company,</a></li>
                                    <li><a href="#">design,</a></li>
                                    <li><a href="#">call center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="{{ asset('images/content/job_post_img4.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                    <li><a href="#">senior</a></li>
                                    <li><a href="#">it company,</a></li>
                                    <li><a href="#">design,</a></li>
                                    <li><a href="#">call center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            <img src="images/content/job_post_img5.jpg') }}" alt="post_img" />
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                            <p>Webstrot Technology Pvt. Ltd.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                                                <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Part Time</a></li>
                                                <li><a href="#">Apply</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">ui designer,</a></li>
                                    <li><a href="#">developer,</a></li>
                                    <li><a href="#">senior</a></li>
                                    <li><a href="#">it company,</a></li>
                                    <li><a href="#">design,</a></li>
                                    <li><a href="#">call center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                        <div class="pager_wrapper gc_blog_pagination">
                            <ul class="pagination">
                                <li><a href="#">Priv.</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="hidden-xs"><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
